@import url('https://fonts.googleapis.com/css2?family=Petrona:ital,wght@0,400;1,700&family=Roboto:wght@300;400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
    font-size: 16px;
    padding: 0;
    margin: 0;
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100vh;
    position: relative;
    background-color: #080014;
    color: #fff;
    align-items: center;
}

.header-menu {
    position: fixed;
    top: 0;
    padding: 1rem;
    background-color: rgba(18, 2, 32, 0.456);
    z-index: 8;
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(0.15rem);
    box-shadow: 0 2px 4px rgba(26, 0, 41, 0.453), 0 2px 14px rgba(17, 0, 27, 0.511);

    h2 {
        margin: 0;
        font-size: 1.8rem;
        font-weight: 400;
        letter-spacing: -1px;
    }

    img {
        width: 3rem;
        margin-right: 1rem;
        filter: drop-shadow(0 0 .3rem rgb(255, 255, 255));
    }

    .left {
        display: flex;
        align-items: center;
    }
}

header {
    max-width: 1920px;
    background-image: radial-gradient(circle,rgba(11, 1, 24, 0.551) 12%, rgba(11, 1, 24, 0) 67%, rgba(28, 2, 51, 0.541) 100%), url(../images/vingi_bg.webp);
    background-size: cover;
    background-position: center;
    box-shadow: 0px 2px 6px #03000836, 0px 2px 12px #05000f5d, 0px 2px 24px #0a01202c;
    position: relative;
    z-index: 0;
    width: 100%;
    aspect-ratio: 2.1;
    flex-direction: column;
    display: flex;

    .content {
        align-items: center;
        flex-direction: row;
        justify-content: center;
    }

    img {
        width: clamp(4rem, 14vw, 18rem);
        filter: drop-shadow(0 0 1.75rem rgb(50, 0, 80));
    }
}

section, header, footer, .header-menu {
    width: clamp(360px, 96vw, 1800px);
}

.band .header-navigation .content {
    align-items: center;
    flex-direction: row;
}

.band {
    display: flex;
    flex: 1;
    justify-content: center;
}

.band .content {
    display: flex;
    flex: 1; 
    flex-direction: column;
    padding: 1em;
    max-width: 100%;
}

.content.text {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

p, a {
    font-family: 'Roboto', sans-serif;
    line-height: 1.4em;
    max-width: 48rem;
    font-size: 1.1rem;
}

a, a:visited {
    color: #9b65e2;
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

h1, h2 {
    color: #f5eefd;
    text-shadow: 0px 1px 0.7rem #9b44e298;
    font-family: "Petrona", serif;
}

h1 {
    font-size: clamp(2rem, calc(2.8vw + 1rem), 4rem);
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 400;
}

h2 + p {
    margin-top: 0;
}

.header-gallery {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 4;
    margin-top: clamp(-8rem, -5vw, -3rem);

    button {
        border: none;
        background-color: transparent;
    }
}

.gallery {
    display: flex;
    gap: 3rem;
    overflow-y: auto;
    max-width: 100%;
    background-image: linear-gradient(43deg,#801d945b,#4c044e5f 46%,#5828dd51);
    padding: 4rem 2rem;
    box-shadow: inset 0 2px 8px rgba(26, 0, 41, 0.474), inset 0 2px 20px rgba(17, 0, 27, 0.618);

    button {
        border: none;
        background-color: transparent;
    }

    .gallery-image-container {
        height: clamp(256px, 18vw, 420px);
    }

}

.gallery-image-container {
    display: inline-block;
    height: clamp(128px, 12vw, 256px);
    border: 6px solid rgb(23, 0, 37);
    border-radius: 4px;
    box-shadow: 0px 2px 6px #03000849, 0px 2px 16px #05000f5b;
    cursor: pointer;
    background-color: rgb(23, 0, 37);

    img {
        max-height: 100%;
        border-radius: 2px;
    }
}

.popover-image {
    padding: 0;
    border: 6px solid rgb(23, 0, 37);
    border-radius: 4px;
    box-shadow: 0px 2px 6px #030008a1, 0px 2px 16px 3px #05000f57, 0px 2px 24px 12px #0a012044;
    transition: opacity .4s, translate .4s, overlay .4s allow-discrete, display .4s allow-discrete;
    opacity: 0;
    translate: 0 5em;
    background-color: rgb(23, 0, 37);

    &:popover-open {
        opacity: 1;
        translate: 0 0;
    }

    img {
        max-width: 84vw;
        max-height: 84vh;
    }
}

@starting-style {
  .popover-image {
    &:popover-open {
      opacity: 0;
      translate: 0 5em;
    }
  }
}

.image-band {
    display: inline-flex;
    flex-direction: row;
    flex: 1;
    gap: 2rem;
    flex-wrap: wrap;
    margin-bottom: 2rem;

    img {
        height: 320px;
        transition: all .25s ease;
        filter: saturate(0.84);

        &:hover {
            filter: saturate(1);
        }
    }
}

.shelf-item {
    position: relative;
    box-shadow: 0px 1px 7px #09000cb6, 0px 1px 14px #000000d8;

    img {
        position: relative;
        z-index: 0;
        height: 360px;
        
    }

    .shelf-item-info {
        position: absolute;
        z-index: 1;
        bottom: 0;
        right: 0;
        left: 0;
        background: linear-gradient(360deg,rgba(10, 1, 24, 0.911) 0%, rgba(17, 2, 36, 0) 100%);
        display: flex;
        flex-direction: column;
        align-items: end;
        padding: 1rem 1.5rem;
        padding-top: 8rem;
    }

    p {
        margin: 0;
        font-size: 2rem;
        line-height: 1;
        color: #dfc5ff;
        text-shadow: 0px 1px 4px #000;
    }
}

footer {
    background-color: #06010c;
    background-image: linear-gradient(43deg,#801d942b,#4c044e34 46%,#5828dd23);
    padding: 2rem 0;
    width: 100%;

    img {
        width: 2.4rem;
    }
}

footer p, footer a, footer a:visited {
    line-height: 2rem;
}

footer a {
    text-decoration: underline;
}

footer.band .content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.right {
    text-align: right;
}

@media (max-width: 600px) {
    .hidden-600 {
        display: none;
    }
}

@media (max-width: 800px) {
    .hidden-800 {
        display: none;
    }

    header {
        aspect-ratio: 1.8;
    }
    
    .header-menu, header {
        width: 100vw;
    }
}

@media (max-width: 700px) {
    .hidden-700 {
        display: none;
    }

    header {
        aspect-ratio: 1.6;
    }
}

@media (max-width: 600px) {
    .hidden-600 {
        display: none;
    }

    header {
        aspect-ratio: 1.2;
    }

    .gallery-image-container, .popover-image {
        border-width: 4px;
    }

    .gallery {
        max-width: initial;
        margin: 0 -1rem 0 -1rem;
        padding: 2rem;
        gap: 2rem
    }

    .popover-image img {
        max-width: 96vw;
    }

    .content.text {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    footer {
        padding: 0;

        p, a {
            font-size: 0.9rem;
        }
    }
}